.home {
  overflow-x: hidden;
}

.reading{
  margin-top: 190px;
  display: flex;
  justify-content: flex-end;
  margin-right: 210px;
  font-size: 60px;
}




.skills{
  margin-top: 190px;
}

.skillhead{
  display: flex;
  justify-content: start;
  margin-left: 190px;
  font-size: 60px;
}

@media(max-width:480px){
  .reading, .skillhead{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
    white-space: nowrap;
    margin-left: auto;
  }
}

.btn{
  margin-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.touch{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 55px;
}
.subtitle{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 30px;
  white-space: normal; /* 允许文字换行 */
  word-wrap: break-word; /* 在单词长于容器宽度时换行 */
  overflow-wrap: break-word;
}

@media(max-width:480px){
  .subtitle{
    justify-content: flex-start;
  }
}

@media(max-width:1024px){
  .subtitle{
    justify-content: center;
    font-size: medium;
  }
}


@media (min-width: 1428px) and (max-width: 1724px) {
  .bookp{
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  }

  @media (max-width: 768px) {
    .bookp {
      display: block; /* 更小的屏幕时设置为 'block' 布局 */
      margin-left: 5%; /* 可以调整左右边距 */
      margin-right: 5%;
    }
  }
.mlb{
  margin-left: 20px;
}